<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-light navbar-default">
  <a class="navbar-heading" [routerLink]="['/main-page']">{{actualPlot.name}}</a>
  <div class="address-info">{{actualPlot.address}}</div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="date" name="date" [(ngModel)]="date" (ngModelChange)="getSpotsForPlot()" placeholder="date"
           aria-label="date" style="max-width: 350px">
    <input class="form-control mr-sm-2" type="search" name="search" [(ngModel)]="search" placeholder="Search"
           aria-label="Search" style="max-width: 350px">
    <i class="settings" (click)="openModal(this.modal0)"></i>
  </form>
</nav>

<div class="row">
  <div class="vehicleTypeSplitter">
    <div class="vehicleTypeSplitterHeading">Cars ( {{usedCarSpots}} / {{carSpots.length}} )</div>
  </div>
  <div class="col-md-4" *ngFor="let spot of carSpots | grdFilter: {tenantID: search, vehicleType:search, currentTenantName: search}">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Parking lot</h5>
        <div class="park-info">
          <div class="park-info-row">
            <div class="park-info-row-icon user"></div>
            <div class="park-info-row-content" *ngIf="spot.currentTenantName === ''"><p class="card-text w-100">/</p></div>
            <div class="park-info-row-content" *ngIf="spot.currentTenantName !== ''"><p class="card-text w-100">{{spot.currentTenantName}}</p></div>
          </div>
          <div class="park-info-row">
            <div class="park-info-row-icon car"></div>
            <div class="park-info-row-content"><p class="card-text w-100">{{spot.vehicleType}}</p></div>
          </div>
          <div class="park-info-row">
            <div class="park-info-row-icon money"></div>
            <div class="park-info-row-content" *ngIf="spot.currentTenantPrice === ''"><p class="card-text w-100">/</p></div>
            <div class="park-info-row-content" *ngIf="spot.currentTenantPrice !== ''"><p class="card-text w-100">{{spot.currentTenantPrice}}</p></div>
          </div>
        <div class="park-info-row">
          <div class="park-info-row-icon time"></div>
          <div class="park-info-row-content" *ngIf="spot.currentTenantID === ''"><p class="card-text w-100">/</p></div>
          <div class="park-info-row-content" *ngIf="spot.currentTenantID !== ''"><p class="card-text w-100">{{spot.currentTime}}</p></div>
        </div>
          <div class="park-info-buttonarea">
            <Button class="park-button btn btn-dark" *ngIf="spot.currentTenantID ===''" (click)="openModal(this.modal2, spot.id)">RENT</Button>
            <Button class="park-button btn btn-dark" *ngIf="spot.currentTenantID !==''" (click)="removeTenant(spot.currentTenantID, spot.id)">UNRENT</Button>
            <div class="park-lock-closed-button" *ngIf="spot.isBlocked" (click)="openSpot(spot)" title="{{spot.blockReason}}"></div>
            <div class="park-lock-open-button" *ngIf="!spot.isBlocked" (click)="openModal(this.modal1, spot.id)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vehicleTypeSplitter">
    <div class="vehicleTypeSplitterHeading">Trucks ( {{usedTruckSpots}} / {{truckSpots.length}} )</div>
  </div>
    <div class="col-md-4" *ngFor="let spot of truckSpots | grdFilter: {tenantID: search, vehicleType:search, currentTenantName: search}">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Parking lot</h5>
          <div class="park-info">
            <div class="park-info-row">
              <div class="park-info-row-icon user"></div>
              <div class="park-info-row-content" *ngIf="spot.currentTenantName === ''"><p class="card-text w-100">/</p></div>
              <div class="park-info-row-content" *ngIf="spot.currentTenantName !== ''"><p class="card-text w-100">{{spot.currentTenantName}}</p></div>
            </div>
            <div class="park-info-row">
              <div class="park-info-row-icon truck"></div>
              <div class="park-info-row-content"><p class="card-text w-100">{{spot.vehicleType}}</p></div>
            </div>
            <div class="park-info-row">
              <div class="park-info-row-icon money"></div>
              <div class="park-info-row-content" *ngIf="spot.currentTenantPrice === ''"><p class="card-text w-100">/</p></div>
              <div class="park-info-row-content" *ngIf="spot.currentTenantPrice !== ''"><p class="card-text w-100">{{spot.currentTenantPrice}}</p></div>
            </div>
            <div class="park-info-row">
              <div class="park-info-row-icon time"></div>
              <div class="park-info-row-content" *ngIf="spot.currentTenantID === ''"><p class="card-text w-100">/</p></div>
              <div class="park-info-row-content" *ngIf="spot.currentTenantID !== ''"><p class="card-text w-100">{{spot.currentTime}}</p></div>
            </div>
            <div class="park-info-buttonarea">
              <Button class="park-button btn btn-dark" *ngIf="spot.currentTenantID ===''" (click)="openModal(this.modal2, spot.id)">RENT</Button>
              <Button class="park-button btn btn-dark" *ngIf="spot.currentTenantID !==''" (click)="removeTenant(spot.currentTenantID, spot.id)">UNRENT</Button>
              <div class="park-lock-closed-button" *ngIf="spot.isBlocked" (click)="openSpot(spot)" title="{{spot.blockReason}}"></div>
              <div class="park-lock-open-button" *ngIf="!spot.isBlocked" (click)="openModal(this.modal1, spot.id)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #contentModal let-c="close" let-d="dismiss">
    <div class="modal-body">
      <h3>Change Property settings</h3>
      <div class="form-group">
        <input class="form-control" [(ngModel)]="reworkPlot.name" placeholder="Name" type="text"/>
      </div>
      <div class="form-group">
        <div style="width: 100%">
          <div class="park-info-row-icon car" style="width: 20%; height: 40px; float: left"></div>
          <input class="form-control" style="width:80%" [(ngModel)]="reworkPlot.plotPKW" placeholder="0" type="number"/>
        </div>
      </div>
      <div class="form-group">
        <div style="width: 100%">
          <div class="park-info-row-icon truck" style="width: 20%; height: 40px; float: left"></div>
          <input class="form-control" style="width:80%" [(ngModel)]="reworkPlot.plotLKW" placeholder="0" type="number"/>
        </div>
      </div>
      <button class="btn btn-dark add-btn" (click)="editPlot()">SAVE CHANGES</button>
    </div>
  </ng-template>

  <ng-template #blockModal let-c="close" let-d="dismiss">
    <div class="modal-body">
      <h3>Reason for blockade</h3>
      <div class="form-group">
        <input class="form-control" [(ngModel)]="selectedSpot.blockReason" placeholder="Reason" type="text"/>
      </div>
        <button class="btn btn-dark add-btn" (click)="closeSpot()">BLOCK SPOT</button>
      </div>
  </ng-template>

  <ng-template #tenantModal let-c="close" let-d="dismiss">
    <div class="modal-body">
      <h3>Rent Spot</h3>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="selectedTenant">
          <option *ngFor="let tenant of tenants" [ngValue]="tenant">{{tenant.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <div style="position: relative; left: 100px; top: 25px;">From: </div>
        <input type="date" class="" style="position: relative; left: 200px; text-align: right" [(ngModel)]="selectedStart">
      </div>
      <div class="form-group">
        <div style="position: relative; left: 100px; top: 25px;">To: </div>
        <input type="date" class="" style="position: relative; left: 200px; text-align: right" [(ngModel)]="selectedEnd">
      </div>
      <div class="park-info-row" style="border: none">
        <div class="park-info-row-icon money"><div style="position: relative; left: 50px">/Day</div></div>
        <input type="number" class="" style="position: relative; left: 50px; text-align: right" [(ngModel)]="selectedPrice">
      </div>
      <button class="btn btn-dark add-btn" (click)="saveTenant()">RENT</button>
    </div>
  </ng-template>
<br><br><br>
</body>


