* {
  font-family: "montserrat", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white !important;
}

.red{
  background-color : darksalmon;
}

.grey{
  background-color : grey;
}

nav a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  cursor: pointer;
  color: #fad201 !important;
}

.navbar-default {
  background: #212529;
  border-color: #E7E7E7;
}

.navbar-default .navbar-brand {
  color: #fad201;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-default .group a {
  color: white;
  padding-right: 20px;
}

.navbar-default .group a:hover {
  color: #fad201;
}

.vehicleTypeSplitter{
  width: 95%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background: black;
  height: 40px;
  margin-top: 20px;
}

.vehicleTypeSplitterHeading{
  width: 20%;
  position: relative;
  font-weight: 300;
  font-size: 27px;
  text-transform: uppercase;
  color: white;
  text-align: left;
  left: 6%;
}

.img {
  background-image: url("~src/app/pictures/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.address-info {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-heading {
  color: #fad201;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}

.row {
  width: 100%;
  display: flex;
  margin-left: 0;
}

.col-md-4 {
  margin-top: 10px;
}

.card {
  height: 340px;
  width: 100%;
}

h5 {
  position: absolute;
  background: #fad201;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
}

.park-info {
  margin-top: 50px;
  width: 100%;
}

.park-info-row {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: end;
}

.park-info-row-icon {
  width: 20%;
}

.park-info-row-content {
  width: 80%;
  position: relative;
}

.park-info-row-content p {
  text-align: right;
  text-transform: uppercase;
}

p {
  text-align: center;
}

.park-info-buttonarea {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 70%;
  transform: translate(-50%);
}

.park-button {
  width: 80%;
  border-radius: 0;
}

.park-lock-open-button {
  width: 20%;
  float: right;
  border: 1px solid gray;
  height: 38px;
  cursor: pointer;
  background-image: url("../../pictures/lock-open.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.park-lock-open-button:hover {
  border: 1px solid;
}

.park-lock-closed-button {
  width: 20%;
  float: right;
  border: 1px solid gray;
  height: 38px;
  cursor: pointer;
  background-image: url("../../pictures/lock-closed.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.park-lock-closed-button:hover {
  border: 1px solid;
}

.user {
  background-image: url("~src/app/pictures/user.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.car {
  background-image: url("~src/app/pictures/car.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.truck {
  background-image: url("~src/app/pictures/truck.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.money {
  background-image: url("~src/app/pictures/money.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.time{
  background-image: url("~src/app/pictures/time.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.settings {
  width: 60px;
  height: 30px;
  background-image: url("~src/app/pictures/settings.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-body {
  background: white;
  border-radius: 35px;
  width: 100%;
  min-width: 350px;
}

.modal-body h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
}

.spot-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
}

.park-info-buttonarea {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 70%;
  transform: translate(-50%);
}

.add-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  margin-bottom: 20px;
  border-radius: 0;
}
