<div class="reg-page">
  <div class="page-content">
    <div class="reg-box" id="0">
      <img src="assets/loginImage.jpg" alt="">
      <div class="reg-box-form">
        <div class="reg-box-form-header">REGISTRATION</div>
        <div class="reg-box-form-input">
          <div class="reg-page-form-names">
            <input type="text" class="form-control input-lg names" name="firstName" [(ngModel)]="firstName"
              placeholder="Name" required appInputReg="text" #first_name="ngModel">

            <input type="text" class="form-control input-lg names" name="lastName" [(ngModel)]="lastName"
              placeholder="Last Name" required appInputReg="text" #last_name="ngModel">
          </div>
          <input type="email" class="form-control input-lg" name="email" [(ngModel)]="email" placeholder="E-mail"
            required appInputReg="email" #_email="ngModel">

          <input type="text" class="form-control input-lg" name="company" [(ngModel)]="company" placeholder="Company"
            required appInputReg="text" #_company="ngModel">

          <input type="password" class="form-control input-lg" name="password" [(ngModel)]="password"
            placeholder="Password" required appInputMin="5" #_password="ngModel">

          <input type="password" class="form-control input-lg" name="passwordRepeat" [(ngModel)]="passwordRepeat"
            placeholder="Password (confirm)" required appInputMin="5" #_passwordRepeat="ngModel">
        </div>
        <div class="reg-box-form-button">
          <a class="signUp" (click)="register()">SIGN UP</a>
        </div>
      </div>
    </div>
  </div>
</div>