.footerClick {
  background: transparent;
  box-shadow: transparent;
  text-shadow: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.buffer{
}

.footer {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  font-size: small;
  text-align: center;
  z-index: 2;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #212529;
}

.footer a {
  text-decoration: none;
  cursor: pointer;
  padding-left: 4em;
  z-index: 3;
}

