
<footer class="footer">
  <a [style.color]="footerColor" (click)=" openDialog(1)">Privacy Policy</a>
  <a [style.color]="footerColor" (click)="openDialog(2)">Imprint</a>
  <a [style.color]="footerColor" (click)="openDialog(3)">Contact</a>
  <a [style.color]="footerColor" (click)="openDialog(4)">About us</a>
</footer>
