.about_closeBtn {
  display: inline-block;
  color: black;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: 0 0px transparent;
}

.about_dialog_layout {
  margin-top: 3em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: small;
  overflow: hidden;
  min-width: available;
  min-height: available;
  max-height: available;
  max-width: available;
  height: 45em;
  width: 70em;
}
