<nav class="navbar navbar-default sticky-top" role="navigation">
  <a class="navbar-brand">
    <div class="logo"><p style="padding-top: 5px">I P O</p></div>
  </a>
  <div class="group">
    <a style="text-decoration: none" [routerLink]="['/login']">LOGIN</a>
  </div>
</nav>


<div class="landing-page">
  <div class="page-content">
    <div class="infoBlock">
      <h1>Intelligent Parkinglot Organisation</h1>
      <blockquote>When managing gets as simple as parking...</blockquote>
      <a [routerLink]="['/registration', 3]">Registration</a>
    </div>
  </div>
</div>


<div class="pricing-area">
  <div class="pricing-header">
    <h1>Packages</h1>
    <div class="pricing-header-underline"></div>
  </div>
  <div class="pricing-table">
    <div class="col">
      <div class="table">
        <h2>S-Package</h2>
        <div class="price"><span>30</span>
         Days Free
        </div>
        <ul>
          <li><span>Unlimited</span>Property</li>
          <li><span>Unlimited</span>Parking Spots</li>
          <li><span>Efficient</span>Parking Management</li>
          <li><span>1</span>Month Support</li>
        </ul>
        <a [routerLink]="['/registration', 3]">TEST</a>
      </div>
    </div>

    <div class="col">
      <div class="table">
        <h2>M-Package</h2>
        <div class="price"><span>19,99€</span>
          /Month
        </div>
        <ul>
          <li><span>10</span>Properties</li>
          <li><span>500</span>Parking Spots</li>
          <li><span>Efficient</span>Parking Management</li>
          <li><span>2</span>Years Support</li>
        </ul>
        <a (click)="popup()">BUY</a>
      </div>
    </div>

    <div class="col">
      <div class="table">
        <h2>L-Package</h2>
        <div class="price"><span>24,99€</span>
          /Month
        </div>
        <ul>
          <li><span>20</span>Properties</li>
          <li><span>700</span>Parking Spots</li>
          <li><span>Efficient</span>Parking Management</li>
          <li><span>3</span>Years Support</li>
        </ul>
        <a (click)="popup()">BUY</a>
      </div>
    </div>

    <div class="col">
      <div class="table">
        <h2>XL-Package</h2>
        <div class="price"><span>29,99€</span>
          /Month
        </div>
        <ul>
          <li><span>Unlimited</span>Properties</li>
          <li><span>Unlimited</span>Properties</li>
          <li><span>Efficient</span>Parking Management</li>
          <li><span>Lifetime</span>Support</li>
        </ul>
        <a (click)="popup()">BUY</a>
      </div>
    </div>
  </div>
</div>
