a {
  cursor: pointer;
}

.navbar-default {
  background: #030303;
  border-color: #E7E7E7;
}

.navbar-default .navbar-brand {
  color: #fad201;
}

.navbar-default .group a {
  color: white;
  padding-right: 20px;
}

.navbar-default .group a:hover {
  color: #fad201;
}

.logo {
  background: #fad201;
  height: 30px;
  padding-bottom: 40px;
  width: 120px;
  position: relative;
  text-align: center;
  font-weight: 800;
  color: black;
  border-radius: 5px;
}


.landing-page {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  width: 100%;
  height: 90vh;
  background: #000;
  position: relative;
  overflow: hidden;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../pictures/bg4.jpg) no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.page-content {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-content .infoBlock {
  width: 80%;
  max-width: 450px;
}

.page-content .infoBlock h1 {
  color: #fad201;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

.page-content .infoBlock blockquote {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.page-content .infoBlock a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fad201;
  border: 2px solid #fad201;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.2s linear;
}

.page-content .infoBlock a:hover {
  color: #fff;
  background: #fad201;
}


/*-------------------------------------------------------------------------------------------------*/
.infoArea {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------------------------------------------------------------------*/

.pricing-area {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pricing-area::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 0;
  opacity: 0.5;
  background-image: url('~src/assets/bg5.jpg');
}

@media (max-width: 1525px) {
  .pricing-area::after {
    height: 150vh;
  }
}
@media (max-width: 742px) {
  .pricing-area::after {
    height: 300vh;
  }
}

.pricing-header {
  z-index: 1;
  width: 100%;
  height: 20vh;
  text-align: center;
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pricing-header h1:hover + .pricing-header-underline {
  width: 150px;
}

.pricing-header-underline {
  height: 2px;
  width: 80px;
  border: 1px solid;
  transition: 0.2s linear;
}

.pricing-table {
  z-index: 1;
  width: 85%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  box-sizing: border-box;
  overflow: hidden;
}

.table {
  background: rgba(255, 255, 255, 0.20);
  color: #000000;
  padding: 40px 20px;
  overflow: hidden;
  border: 1px solid;
  text-align: center;

}

.table h2 {
  text-transform: uppercase;
  font-weight: 800;
}

.table span {
  font-weight: 800;
}

.table ul {
  margin: 0;
  padding: 0;
}

.table ul li {
  padding: 10px;
  list-style: none;
}

.table a {
  text-decoration: none;
  color: #000000;
  border: 1px solid #fad201;
  display: block;
  padding: 10px 0;
  margin: 10px 0 -15px;
  transition: 0.2s linear;
}

.table a:hover {
  color: #fff;
  background: #fad201;
}

.price {
  font-size: 25px;
  margin-top: 20px;
}

.price span {
  color: #fad201;
}


