<div *ngIf="sendClicked">
  <app-alert></app-alert>
</div>
<div style="width: 800px" class="contact_form_layout white-text">
  <h4 class="contact_form_title">
    <h4 class="fa fa-pencil">

    </h4>
    <div style="color: black; text-align: center; width: 100%;">Contact Us</div>
  </h4>
  <ng-form action="" method="post" autocomplete="on" #contactForm="ngForm" (ngSubmit)="onContactSend()">

    <div class="form-group" style="width: 800px;">
      <input [ngClass]="{'notClicked': _email.untouched,
      'clickedAndInvalid': _email.errors && (_email.dirty || _email.touched) && _email.value !=='',
       'clickedAndValid':  !_email.errors && (_email.dirty || _email.touched) && _email.value !==''}"
             type="email" class="form-control" name="email" [(ngModel)]="contactEmail"
             placeholder="Email address" required appInputReg="email" #_email="ngModel" autocomplete="off">
    </div>
    <div class="form-group">
      <input [ngClass]="{'notClicked': _name.untouched,
      'clickedAndInvalid': _name.errors && (_name.dirty || _name.touched) && _name.value !=='',
       'clickedAndValid':  !_name.errors && (_name.dirty ||_name.touched) && _name.value !==''}"
             type="text" class="form-control" name="name" [(ngModel)]="contactName"
             placeholder="Name" required minlength="3" #_name="ngModel" autocomplete="on">
    </div>
    <textarea [ngClass]="{'notClicked': _name.untouched,
      'clickedAndInvalid': _contactMessege.errors && (_contactMessege.dirty || _contactMessege.touched) && _contactMessege.value !=='',
       'clickedAndValid':  !_contactMessege.errors && (_contactMessege.dirty ||_contactMessege.touched) && _contactMessege.value !==''}"
              type="text" class="form-control" name="name" [(ngModel)]="contactMessage"
              placeholder="Your message..." required minlength="10" maxlength="200"
              #_contactMessege="ngModel"
              autocomplete="off">
      </textarea>

    <div class="text-center">
      <button type="submit" (click)="onContactSend()"
              class="btn btn-dark" style="margin-top: 20px; padding: 15px; width: 150px">Send
      </button>
      <mat-dialog-actions align="end">
        <button type="submit" mat-dialog-close
                class="btn btn-dark" style="">Dismiss
        </button>
      </mat-dialog-actions>
    </div>
  </ng-form>

</div>
