.imprint_close_btn {
  overflow: visible;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0px transparent;
}
.imprint_dialog_layout {
  padding-top: 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: small;
  overflow: hidden;
  min-width: available;
  min-height: available;
  max-height: available;
  max-width: available;
  height: 45em;
  width: 70em;
}
