* {
  font-family: "montserrat", sans-serif;
}
body{
  min-width: 550px;
}

a {
  cursor: pointer;
  color: white !important;
}

.navbar-default {
  background: #212529;
  border-color: #E7E7E7;
}

.navbar-heading {
  color: #fad201;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}

.navbar-default .group a {
  color: white;
  padding-right: 20px;
}

.navbar-default .group a:hover {
  color: #fad201;
}

.tenants-management-icon{
  position: relative;
  width: 48px;
  height: 26px;
  border: 1px solid grey;
  border-radius: 2px;
  margin-right: 20px;
  margin-left: 10px;
  transform: scale(1.5);
  background-color: white;
  background-image: url("~src/app/pictures/group.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.tenants-management-icon:hover{
  background-color: #d9d9d9;
}
.logout-icon{
  position: relative;
  width: 50px;
  height: 40px;
  border: 1px solid grey;
  margin-left: 4px;
  border-radius: 5px;
  transform: scale(1);
  background-color: white;
  background-image: url("~src/app/pictures/logout.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tenant-display {
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  margin-top: 10px;
  min-width: 430px;
}

.card {
  border: 1px solid;
  width: 100%;
}

h5 {
  position: absolute;
  background: #fad201;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
}

.img {
  background-image: url("~src/app/pictures/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-body {
  background: white;
  border-radius: 35px;
  width: 100%;
  min-width: 350px;
}

.modal-body h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
}

.home {
  background-image: url("~src/app/pictures/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.license-plate {
  background-image: url("~src/app/pictures/license-plate.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.email {
  background-image: url("~src/app/pictures/email.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.phone {
  background-image: url("~src/app/pictures/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.add-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  margin-bottom: 20px;
  border-radius: 0;
}

.tenant-info-head{
  width: 100%;
  height: 35px;
  background: #fad201;
  margin-bottom: 20px;
}

.user-icon{
  float: left;
  width: 40px;
  height: 35px;
  background-image: url("~src/app/pictures/user.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tenant-name{
  width: 100%;
  height: 35px;
  font-size: x-large;
  vertical-align: bottom;
}

.home-icon{
  float: left;
  margin-left: 10%;
  width: 25px;
  height: 25px;
  transform: scale(0.7);
  background-image: url("~src/app/pictures/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.email-icon{
  float: left;
  margin-left: 10%;
  width: 25px;
  height: 25px;
  transform: scale(0.7);
  background-image: url("~src/app/pictures/email.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.license-icon{
  float: left;
  margin-left: 10%;
  width: 25px;
  height: 25px;
  transform: scale(0.7);
  background-image: url("~src/app/pictures/license-plate.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.phone-icon{
  float: left;
  margin-left: 10%;
  width: 25px;
  height: 25px;
  transform: scale(0.7);
  background-image: url("~src/app/pictures/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.x{
  border-bottom: 1px solid;
}

.tenant-button-row{
  margin-top: 20px;
  width: 100%;
}

.cst-btn{
  width: 80%;
  position: relative;
  left: 40%;
  transform: translate(-50%);
  border-radius: 0;
  height: 35px;
}

.park-delete-btn{
  width: 20%;
  float: right;
  border: 1px solid gray;
  height: 35px;
  cursor: pointer;
  background-image: url("~src/app/pictures/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.park-delete-btn:hover{
  border: 1px solid;
}
