<nav class="navbar navbar-light navbar-default">
  <div class="navbar-heading" [routerLink]="['/main-page']">Tenant-Management</div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" name="search" [(ngModel)]="search" placeholder="Search"
           aria-label="Search">
    <div class="logout-icon" (click)="logOut()"></div>
  </form>
</nav>

<div class="tenant-display">
  <div class="col-md-4">
    <div class="card img" style="height: 252px">
      <div class="card-body" (click)="openModal(this.addTenantModal, this.newTenant)">
        <div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngFor="let tenant of userTenants">
    <div class="card">
      <div class="card-body">
        <div class="tenant-info-head">
          <div class="user-icon"></div>
          <div class="tenant-name">{{ tenant.name }} {{tenant.lastname}}</div>
        </div>
        <div>
          <div class="tenant-address-row x">
            <div class="home-icon"></div>
            <div class="tenant-address">{{tenant.adress}}</div>
          </div>
          <div class="tenant-email-row x">
            <div class="email-icon"></div>
            <div class="tenant-address">{{tenant.email}}</div>
          </div>
          <div class="tenant-license-row x">
            <div class="license-icon"></div>
            <div class="tenant-address">{{tenant.licensePlate}}</div>
          </div>
          <div class="tenant-phone-row x">
            <div class="phone-icon"></div>
            <div class="tenant-address">{{tenant.phone}}</div>
          </div>
          <div class="tenant-button-row">
            <a class="btn btn-dark cst-btn" (click)="openModal(this.tenantModal, tenant)">CHANGE</a>
            <div class="park-delete-btn" (click)="deleteTenant(tenant)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #tenantModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h3>Edit Information</h3>

    <div class="form-group">
      <input class="form-control" [(ngModel)]="newTenant.name" placeholder="First Name" type="text"/>
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="newTenant.lastname" placeholder="Last Name" type="text"/>
    </div>
    <div class="form-group">
      <div style="width: 100%">
        <div class="park-info-row-icon home" style="width: 20%; height: 40px; float: left"></div>
        <input class="form-control" style="width:80%" [(ngModel)]="newTenant.adress" placeholder="Address" type="text"/>
      </div>
    </div>
    <div class="form-group">
      <div style="width: 100%">
        <div class="park-info-row-icon license-plate" style="width: 20%; height: 40px; float: left"></div>
        <input class="form-control" style="width:80%" [(ngModel)]="newTenant.licensePlate" placeholder="AB-CD-01" type="text"/>
      </div>
    </div>
    <div class="form-group">
      <div class="park-info-row-icon email" style="width: 20%; height: 40px; float: left"></div>
      <input class="form-control"  style="width:80%" [(ngModel)]="newTenant.email" placeholder="example@mail.com" type="email"/>
    </div>
    <div class="form-group">
      <div class="park-info-row-icon phone" style="width: 20%; height: 40px; float: left"></div>
      <input class="form-control"  style="width:80%" [(ngModel)]="newTenant.phone" placeholder="0123 45678901011" type="tel"/>
    </div>
    <button class="btn btn-dark add-btn" (click)="changeTenant()">SAVE</button>
  </div>
</ng-template>

<ng-template #addTenantModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h3>New Tenant</h3>

    <div class="form-group">
      <input class="form-control" [(ngModel)]="newTenant.name" placeholder="First Name" type="text"/>
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="newTenant.lastname" placeholder="Last Name" type="text"/>
    </div>
    <div class="form-group">
      <div style="width: 100%">
        <div class="park-info-row-icon home" style="width: 20%; height: 40px; float: left"></div>
        <input class="form-control" style="width:80%" [(ngModel)]="newTenant.adress" placeholder="Address" type="text"/>
      </div>
    </div>
    <div class="form-group">
      <div style="width: 100%">
        <div class="park-info-row-icon license-plate" style="width: 20%; height: 40px; float: left"></div>
        <input class="form-control" style="width:80%" [(ngModel)]="newTenant.licensePlate" placeholder="AB-CD-01" type="text"/>
      </div>
    </div>
    <div class="form-group">
      <div class="park-info-row-icon email" style="width: 20%; height: 40px; float: left"></div>
      <input class="form-control"  style="width:80%" [(ngModel)]="newTenant.email" placeholder="example@mail.com" type="email"/>
    </div>
    <div class="form-group">
      <div class="park-info-row-icon phone" style="width: 20%; height: 40px; float: left"></div>
      <input class="form-control"  style="width:80%" [(ngModel)]="newTenant.phone" placeholder="0123 45678901011" type="tel"/>
    </div>
    <button class="btn btn-dark add-btn" (click)="addTenant(newTenant)">ADD</button>
  </div>
</ng-template>
<br><br><br>
