<div class="login-page">
  <div class="page-content">
    <div class="login-box" id="0">
      <img src="assets/loginImage.jpg" alt="">
      <div class="login-box-form">
        <div class="login-box-form-header">ACCOUNT LOGIN</div>
        <div class="login-box-form-input">
          <input type="email" class="form-control input-lg" name="email" [(ngModel)]="email" placeholder="E-mail"
            required appInputReg="email" #_email="ngModel">

          <input type="password" class="form-control input-lg" name="password" [(ngModel)]="password"
            placeholder="Password" required appInputMin="5" #_password="ngModel">

        </div>
        <div class="login-box-form-button">
          <a class="signIn" (click)="logIn()">SIGN IN</a>
        </div>
        <div class="login-box-form-hint">Forgot <a (click)="openPasswordForgottenBox()">password/user name</a> ?</div>
      </div>
    </div>


    <div class="pwforgotten-box" id="1" style="display: none">
      <img src="assets/loginImage.jpg" alt="">
      <div class="pwforgotten-box-form">
        <div class="pwforgotten-box-form-closer">
          <div class="pwforgotten-box-form-closer-button" (click)="closePasswordForgottenBox()">X</div>
        </div>
        <div class="pwforgotten-box-form-header">FORGOT PASSWORD?</div>
        <div class=""></div>
        <div class="pwforgotten-box-form-input">
          <input type="email" class="form-control input-lg" name="email" [(ngModel)]="resetEmail" placeholder="E-mail"
            required appInputReg="email" #_email="ngModel">

        </div>
        <div class="pwforgotten-box-form-button">
          <a class="reset" (click)="sendPasswordResetMail()">Reset password</a>
        </div>
        <div class="pushing-space"></div>
      </div>
    </div>
  </div>
</div>