.notClicked{
  border: 1px solid rgba(128, 128, 128, 0.31);
}
.clickedAndValid{
  border-color:#4aba70;
}
.clickedAndInvalid{
  border-color: rgba(255, 109, 116, 0.61);
}
.login-page{
  margin: 0;
  padding:0;
  font-family: "montserrat", sans-serif;
  width: 100%;
  height: 100vh;
  /*background: #fff;*/
  position: relative;
  overflow: hidden;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page::after{
  content: "";
  position: absolute;
  background-image: url('~src/assets/bg5.jpg');
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.5;
}

.page-content{
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-content .login-box{
  display: flex;
}
img{
  width: 250px;
  height: 400px;
  opacity: 0.8;
}

.login-box-form, .pwforgotten-box-form{
  font-family: 'Roboto', sans-serif;
  width: 400px;
  height: 400px;
  border: 1px solid #383d41;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box-form-header, .pwforgotten-box-form-header {
  text-align: center;
  padding: 0 0 30px 0;
}
.login-box-form-input, .pwforgotten-box-form-input{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.login-box-form-input input, .pwforgotten-box-form-input input{
  width: 90%;
  padding: 10px;
  margin: 5px;
}

.login-box-form-button, .pwforgotten-box-form-button{
  display: flex;
  justify-content: center;
}

.login-box-form-button .signIn{
  width: 90%;
  margin: 10px 0 10px 0;
  text-align: center;
  background: #fad201;
  padding: 5px;
  transition: 0.5s linear;
  border: 1px solid #fad201;
  cursor: pointer;
}

.pwforgotten-box-form-closer{
  width: 98%;
  padding-bottom: 50px;
}

.pwforgotten-box-form-closer-button{
  width: 5%;
  text-align: center;
  float: right;
  cursor: pointer;
}

.pwforgotten-box-form-button .reset{
  width: 90%;
  text-decoration: none;
  margin: 10px 0 10px 0;
  text-align: center;
  background: #fad201;
  padding: 5px;
  cursor: pointer;
}
.pwforgotten-box-form-button-info{
  text-align: center;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.82);
}

.login-box-form-hint{
  text-align: center;
  font-size: 0.6em;
  opacity: 0.7;
  cursor: pointer;
}
.login-box-form-hint a{
  color: #fad201;
}

.pushing-space{
  height: 150px;
}


@media only screen and (max-width: 700px) {
 img{
   width: 0;
 }
}


