<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<head>
  <title>Startseite</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-light navbar-default">
  <div class="navbar-heading">Properties</div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" name="search" [(ngModel)]="search" placeholder="Search"
           aria-label="Search">
    <div class="tenants-management-icon" (click)="openCustomerManagement()"></div>
    <div class="logout-icon" (click)="logOut()"></div>
  </form>
</nav>

<div class="row">
  <div class="col-md-4">
    <div class="card add img" (click)="openModal(this.modal)">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="userPlots[0]== undefined">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dang!</h5>
        <div class="park-info">
          <p class="card-text w-100"> There are no parking lots yet...</p>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="userPlots[0]!= undefined">
    <div class="col-md-4" *ngFor="let plot of userPlots | grdFilter: {name: search, address:search}">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{plot.name}}</h5>
          <div class="park-info">
            <div class="park-info-row">
              <div class="park-info-row-icon location"></div>
              <div class="park-info-row-content"><p class="card-text w-100">{{plot.address}}</p></div>
            </div>
            <div class="park-info-row">
              <div class="park-info-row-icon car"></div>
              <div class="park-info-row-content"><p class="card-text w-100">{{plot.plotPKW}}</p></div>
            </div>
            <div class="park-info-row">
              <div class="park-info-row-icon truck"></div>
              <div class="park-info-row-content"><p class="card-text w-100">{{plot.plotLKW}}</p></div>
            </div>
            <div class="park-info-buttonarea">
              <a class="park-button btn btn-dark" (click)="navigatePlot(plot.id)">PARKING LOT</a>
              <div class="park-delete-button" (click)="deletePlot(plot)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h3>Add Property</h3>

    <div class="form-group">
      <input class="form-control" [(ngModel)]="newPlot.name" placeholder="Name" type="text"/>
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="newPlot.address" placeholder="Address" type="text"/>
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="newPlot.plotPKW" placeholder="Cars max. 500" type="number"/>
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="newPlot.plotLKW" placeholder="Trucks max. 500" type="number"/>
    </div>
    <button class="btn btn-dark property-btn" (click)="addPlot()">Create Property</button>
  </div>
</ng-template>
<br><br><br>
</body>
</html>
