* {
  font-family: "montserrat", sans-serif;
}

body {
  min-width: 550px;
}

a {
  cursor: pointer;
  color: white !important;
}

.navbar-default {
  background: #212529;
  border-color: #E7E7E7;
}

.navbar-heading {
  color: #fad201;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}

.navbar-default .group a {
  color: white;
  padding-right: 20px;
}

.navbar-default .group a:hover {
  color: #fad201;
}

.tenants-management-icon {
  position: relative;
  width: 48px;
  height: 26px;
  border: 1px solid grey;
  border-radius: 2px;
  margin-right: 20px;
  margin-left: 10px;
  transform: scale(1.5);
  background-color: white;
  background-image: url("~src/app/pictures/group.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tenants-management-icon:hover {
  background-color: #d9d9d9;
}

.logout-icon {
  position: relative;
  width: 50px;
  height: 40px;
  border: 1px solid grey;
  margin-left: 4px;
  border-radius: 5px;
  transform: scale(1);
  background-color: white;
  background-image: url("~src/app/pictures/logout.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


.row {
  width: 100%;
  display: flex;
  margin-left: 0;
}

.col-md-4 {
  margin-top: 10px;
}

.card {
  height: 300px;
  width: 100%;
}

h5 {
  position: absolute;
  background: #fad201;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
}

.park-info {
  margin-top: 50px;
  width: 100%;
}

.park-info-row {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: end;
}

.park-info-row-icon {
  width: 20%;
}

.park-info-row-content {
  width: 80%;
  position: relative;
}

.park-info-row-content p {
  text-align: right;
  text-transform: uppercase;
}

p {
  text-align: center;
}

.park-info-buttonarea {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 70%;
  transform: translate(-50%);
}

.park-button {
  width: 80%;
  border-radius: 0;
}

.park-delete-button {
  width: 20%;
  float: right;
  border: 1px solid gray;
  height: 38px;
  cursor: pointer;
  background-image: url("~src/app/pictures/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.park-delete-button:hover {
  border: 1px solid;
}

.img {
  background-image: url("~src/app/pictures/add.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.location {
  background-image: url("~src/app/pictures/location.svg");
  background-repeat: no-repeat;
}

.car {
  background-image: url("~src/app/pictures/car.svg");
  background-repeat: no-repeat;
}

.truck {
  background-image: url("~src/app/pictures/truck.svg");
  background-repeat: no-repeat;
}

.add {
  cursor: pointer;
}

.modal-body {
  background: white;
  border-radius: 35px;
  width: 100%;
  min-width: 350px;
  height: 400px;
}

.modal-body h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
}

.property-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  border-radius: 0;
}
