<div class="privacy_dialog_layout">
  <h2 mat-dialog-title style="color: #138496">Datenschutzerklärung</h2>
<mat-dialog-content class="mat-typography">
  <h3>Hier kommt unsere Datenschutzerklärung rein</h3>
  <p></p>

  <h3></h3>
  <p></p>

  <h3>daaaa</h3>
  <p></p>

  <h3>Texttitle</h3>
  <p></p>

  <h3>Texttitle</h3>

  <p>TEXT</p>

  <h3>Texttitle</h3>

  <p>TEXT.</p>

  <p>text.</p>

  <p></p>

  <p>text</p>

  <p></p>

  <p>text.</p>

  <p>text.</p>
  <p>text.</p>

  <p>text.</p>
  <p>text.</p>

  <p>text.</p>
  <p>text.</p>

  <p>text.</p>

  <p>text</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="privacy_acceptBtn" mat-dialog-close>Einverstanden</button>
</mat-dialog-actions>
</div>
