.privacy_acceptBtn {
  align-content: end;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: #0f6674;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0px transparent;
}

.privacy_dialog_layout {
  margin-top: 3em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: small;
  overflow: hidden;
  min-width: available;
  min-height: available;
  max-height: available;
  max-width: available;
  height: 45em;
  width: 85em;
}
